:root {
	--primary-dark: #203241;
	--primary-blue: #327aae;
	--secondary-blue-grey: #d1eaf8;
	--secondary-beige: #fed1d1;
	--beige: #fffaf6;
}

html, body {
	width: 100%;
	height: 100%;
}

#root {
	width: 100%;
	height: 100%;
}
